*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}



.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}



a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}



li{
    list-style: none;
}


ul{
    display: flex;
    gap: 30px;
}



.title{
    text-align: center;
    font-size: 88px;
    margin-top: 114px;
    font-family: Arial, Helvetica, sans-serif;
}